.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
}
.portada{
    width: 100%;
}
a{
    color: #edeff2;
    margin: 6px;
}
.redes{
    margin-right: 0.5rem;
}
/* para la vista de celular*/
@media(max-width:575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2rem;
    }
}