<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>trabajo 1</h2>-<h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deserunt iusto harum? Laborum quidem non quam recusandae eaque optio vero, totam sit explicabo quia nesciunt corporis nobis reprehenderit mollitia corrupti.
            </p>
        </ul>
        <ul>
            <li>
                <h2>trabajo 2</h2>-<h4>(years)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deserunt iusto harum? Laborum quidem non quam recusandae eaque optio vero, totam sit explicabo quia nesciunt corporis nobis reprehenderit mollitia corrupti.
            </p>
        </ul>
    </div>


</div>
