
<app-encabezado></app-encabezado>
<app-presentacion></app-presentacion>
<app-acerca></app-acerca>
<app-experiencia></app-experiencia>
<app-educacaion></app-educacaion>
<app-hys></app-hys>
<app-proyecto></app-proyecto>
<app-footer></app-footer>






<!-- login -->
<!--<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Inicio sesion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Ingresar</button>
      </div>
    </div>
  </div>
</div>

<div id="info-actions">
 
  

</div>-->





