
<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h5>1-274 Remedios Escalada de San Martín</h5><h6>(years)</h6>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deserunt iusto harum? Laborum quidem non quam recusandae eaque optio vero, totam sit explicabo quia nesciunt corporis nobis reprehenderit mollitia corrupti.
            </p>
        </ul>
        <ul>
            <li><a href="https://www.escuela4054.com.ar/">
                <img src="/assets/logotrans.png "class="image">
                <h5>Juan Isidro Maza 4-054</h5>
            </a></li><h6>(years)</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deserunt iusto harum? Laborum quidem non quam recusandae eaque optio vero, totam sit explicabo quia nesciunt corporis nobis reprehenderit mollitia corrupti.
            </p>
        </ul>
        <ul>
            <li><a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa ">
                <img src="/assets/argentina-programa.png" class="image">
                <h5>Inti Se programar</h5>
            </a></li><h6>(years)</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deserunt iusto harum? Laborum quidem non quam recusandae eaque optio vero, totam sit explicabo quia nesciunt corporis nobis reprehenderit mollitia corrupti.
            </p>
        </ul>
    </div>


</div>
