
<!--presentacion-->
<section class="presentaccion ">
 <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-2
      col-md-2 col-lg-2">
        <img src="/assets/índice.jpeg" alt="foto" class="perfil-foto" >
       </div>
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Dania Daiana Villca</p>
        <p>  Desarrollador Full Stack jr.</p>
        <span><a href="#"> Informacion de contacto</a> </span>
        <a href="#" class="btn-right">
          <i class="fa fa-pencil"></i>
      </a>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eius nemo assumenda facere ullam voluptatibus a quis explicabo itaque quasi optio, placeat ut magnam ex. Libero modi asperiores velit ipsa?</p>
      </div>
    </div>
  </div>
  <div class="btn-btn">
      <button  class="btn-primary" typy="button">Tengo interes en</button>
      <button class="btn-light" type="button">Añadir Seccion</button>
      <button class="btn-light" type="button">Mas</button>
     
  </div>

</section>
